
<div>
    <h1>{% block title %} Enter your ARIMA model parameters p, d and q </h1>
    <form method="post" action="/arimamodel">
        <div>

        <label for="p">p</label>
        <br>
        <input type="text" name="p"
               placeholder="Enter p"
               value="{{ request.form['p'] }}">
        <br>
        <label for="d">d</label>
        <br>
        <input type="text" name="d"
               placeholder="Enter d"
               value="{{ request.form['d'] }}">
        <br>
        <label for="q">q</label>
        <br>
        <input type="text" name="q"
               placeholder="Enter q"
               value="{{ request.form['q'] }}">
        <br>
        <br>
        <input type="text" name="duration"
               placeholder="Enter forecast duration in days"
               value="{{ request.form['duration'] }}">
        <br>
        <br>
            <label for="SARIMAX">
                <input type="checkbox" name="sarima" value="1"> SARIMAX
            </label>
        <button type="submit">Submit</button>
        </div>
    </form>
    </div>
{% endblock %}